<!-- Footer ================================================== -->
<footer class="footer container text-center">
  <div class="copyright small">
    Made in Fremont with © <a href="https://bennguyen.us" target="_blank">BenNguyen</a>.
  </div>
</footer>
<script type="text/javascript">
  amzn_assoc_ad_type = "link_enhancement_widget";
  amzn_assoc_tracking_id = "shouldbuy0b-20";
  amzn_assoc_linkid = "e8bd89c5209356ffcf6d18e059de671b";
  amzn_assoc_placement = "";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
